<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <form [formGroup]="formContacto" (ngSubmit)="createContacto()">
    <ion-item>
      <ion-label position="floating"> Nombre
      </ion-label>
      <ion-input required formControlName="nombre"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Correo
      </ion-label>
      <ion-input required formControlName="correo"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> mensaje
      </ion-label>
     <ion-textarea required formControlName="mensaje" placeholder="Ingrese Mensaje"> </ion-textarea>

    </ion-item>
    <ion-button expand="block" color="primary">Guardar</ion-button>
  </form>



</ion-content>
